body{
    background-color: black;
}
#playground{
    width: 500px;
    height: 500px;
    background-color: green;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    border: 2px solid white;
    /* width: calc(100% / 10);
    height: calc(100% / 10); */
}
/* .changeCol{
    background-color: blue;
} */

/* 
.opacityPulse-css {
    transition: opacityPulse 2s ease-out;
    animation-iteration-count: infinite; 
    opacity: 1;
} */



  
  